configuration{
    font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    icon-theme: "Dracula";
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
}

@theme "~/.config/rofi/dracula.rasi"
